@import "~bulma/bulma";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker:400");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.permanent-marker {
    font-family: Permanent Marker, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #8892b0;
}

#app {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #171c28;
    // color: #444452;
    color: #fff;
    line-height: 1.5;
    width: 100%;
}

.intro {
    padding: 120px 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}
.intro__hello {
    font-weight: 300;
}
.intro__tagline {
    font-weight: 300;
    max-width: 700px;
}
.intro__hello .name {
    font-weight: 700;
}
.intro__hello, .intro__tagline {
    font-size: 2.5rem;
}
.intro__contact {
    font-size: 1.25rem;
    font-weight: 400;
}
.intro__contact .highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #00d1b2;
    box-shadow: inset 0 -3px 0 #00d1b2;
}

.intro__contact .highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #00d1b2;
    box-shadow: inset 0 -33px 0 0 #00d1b2;
    color: #fff;
}

.switch-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 30px;
}
.follow-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.follow-wrapper .item {
    margin: 0 5px;
}
.follow-wrapper .item a{
    color: #fff;
}
.follow-wrapper .item a:hover svg{
    -webkit-box-shadow: inset 0 -33px 0 0 #00d1b2;
    box-shadow: inset 0 -33px 0 0 #00d1b2;
    color: #fff;
}
.spacer-wrapper {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px solid #ffffff;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
    .intro__hello,
    .intro__tagline {
        font-size: 2.25rem;
    }
}
@media screen and (max-width: 768px) {
    .intro__hello,
    .intro__tagline {
        font-size: 2rem;
    }
}
@media screen and (max-width: 630px) {
    .intro {
        padding: 120px 70px;
    }
}
@media screen and (max-width: 550px) {
    .intro {
        padding: 120px 50px;
    }
    .intro__hello,
    .intro__tagline {
        font-size: 1.75rem;
    }
    .intro__contact {
        font-size: 1rem;
    }
    .intro__contact .emoji.pointer {
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 480px) {
    .intro {
        padding: 70px 50px;
    }
}
@media screen and (max-width: 360px) {
    .intro__hello,
    .intro__tagline {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 330px) {
    .intro__hello,
    .intro__tagline {
        font-size: 1.4rem;
    }
}