@import "~bulma/bulma";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker:400");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$background: #19242F;
$primarycolor: #81ABAE;
$light: #F5F2F4;
$dark: #19242F;
$link: #8892b0;

*, *:before, *:after {
    box-sizing:  border-box !important;
}

.permanent-marker {
    font-family: Permanent Marker, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.type-writer {
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $link;
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
a:hover {
    color: $link;
}
strong {
    color:  inherit;
}
body,html {
    background-color: lighten($dark, 5%);
    transition: background-color .2s ease, color .2s ease;
    color: $light;
}
body.light-mode {
    background-color: lighten($light, 5%);
    transition: background-color .2s ease, color .2s ease;
    color: $dark;
}
::selection, code[class*="language-"]::selection {
    background-color: $primarycolor;
}
::-webkit-scrollbar {
    width: 0.5em;
}
 
::-webkit-scrollbar-thumb {
  background-color: $primarycolor;
  border-radius: 10rem;
}

.blink {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: $light;    }
    49%{    color: $light; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: $light;    }
}
body.light-mode .blink {
    animation:blinkingLightText 1.2s infinite;
}
@keyframes blinkingLightText{
    0%{     color: $dark;    }
    49%{    color: $dark; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: $dark;    }
}
.card {
    border-radius: 6px;
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,.7);
}

.card .card-title a:hover {
    color: $link;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.card .card-content {
    height: 100%;
    width: 100%;
    padding: 1rem 1.25rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

#app {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    width: 100%;
}

.intro {
    padding: 120px 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}
.intro__hello {
    font-weight: 300;
}
.intro__tagline {
    font-weight: 300;
    max-width: 700px;
}
.intro__hello .name {
    font-weight: 700;
}
.intro__hello, .intro__tagline {
    font-size: 2.5rem;
}
.intro__contact {
    font-size: 1.25rem;
    font-weight: 400;
}
.intro__contact a.highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 $primarycolor;
    box-shadow: inset 0 -3px 0 $primarycolor;
}

.intro__contact a.highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 $primarycolor;
    box-shadow: inset 0 -33px 0 0 $primarycolor;
    color: $light;
}

.switch-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 95px;
}
.switch-wrapper .moon,
.switch-wrapper .sun {
    width: 17px;
    height: 17px;
}
.switch-wrapper .toggle-wrapper {
    margin: 10px;
}
.switch-wrapper .toggle-wrapper #switch {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
.switch-wrapper .toggle-wrapper #switch:checked + label {
    background: $primarycolor;
}
.switch-wrapper .toggle-wrapper #switch:checked + label:after {
    left: calc(100% - 3px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.switch-wrapper .toggle-wrapper label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}
.switch-wrapper .toggle-wrapper label:after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: $light;
    border-radius: 100%;
}
.follow-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.follow-wrapper .item {
    margin: 0 5px;
}
.follow-wrapper .item a{
    color: $light;
}
body.light-mode .follow-wrapper .item a{
    color: $dark;
}
.follow-wrapper .item a:hover svg{
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: $primarycolor;
}
.spacer-wrapper {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px solid $light;
}
body.light-mode .spacer-wrapper {
    border-bottom: 1px solid $dark;
}
.page {
    width: 1280px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
    padding: 120px 40px 40px;
}
.page-header {
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 160px;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    pointer-events: none;
    flex: 1 100%;
}
.page-header-small {
    font-size: 54px;
}
.page-subheader {
    font-size: 46px;
    line-height: 1.3em;
    margin: 60px auto 0.65em;
    font-weight: 800;
}
.page-content {
    color: $light;
    padding-top: 75px;
    margin-bottom: 3rem;
    background-color: $primarycolor;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}
.section {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0px;
    font-family: "Space Mono", monospace;
}
.section__title {
    margin-right: 70px;
    color: $primarycolor;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
}
.section__content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 675px;
}
.section__content p {
    margin-top: 0;
    margin-bottom: 25px;
}
.featured,
.wordpress,
.open-source {
    padding-bottom: 5rem;
    font-family: "Space Mono", monospace;
}
.featured__project {
    justify-content: space-between;
    margin: 5rem 0;
}
.featured__image img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(80%) contrast(1) brightness(90%);
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.featured__image a {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    position: relative;
    z-index: 1;
    background-color: rgb(129 171 174);
    border-radius: 6px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.featured__image a:hover {
    background-color: unset;
}
.featured__image img:hover {
    mix-blend-mode: unset;
    -webkit-filter: unset;
    filter: unset;
}
.featured__title {
    font-weight: 700;
    letter-spacing: 2px;
    color:$light
}
body.light-mode .featured__title {
    color:$dark
}
.featured__title a:hover{
    color: $primarycolor;
}
.featured__description {
    color: $link;
    line-height: normal;
}
.featured__builtof .tag,
.wordpress__builtof .tag {
    background: #5290B2;
    color: $light;
}
.featured__link a {
    padding-right: 10px;
}
.featured__builtof {
    display: block;
}
.featured__link {
    display: flex;
    width: 100%;
}
.wordpress__content {
    margin-top: 5rem;
}
.wordpress__card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,.7);
}
.wordpress__card .wordpress__image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.wordpress__image a {
    position: relative;
    z-index: 1;
    background-color: #81abae;
    border-radius: 4px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.wordpress__image a:hover {
    background-color: unset;
}
.wordpress__card .wordpress__image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    vertical-align: middle;
    position: relative;
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(80%) contrast(1) brightness(90%);
    filter: grayscale(80%) contrast(1) brightness(90%);
}
.wordpress__image img:hover {
    mix-blend-mode: unset;
    -webkit-filter: unset;
    filter: unset;
}
.wordpress__card .wordpress__details {
    padding: 15px 30px;
}
.wordpress__title {
    display: flex;
    justify-content: space-between;
}
.wordpress__description,
.repo__description {
    font-size: 13px;
}
.repo .repo__title {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.repo .repo__title a {
    color: #4a4a4a;
    flex: auto;
}
.repo .repo__title svg {
  position: absolute;
  margin-top: 6px;
}
.repo__stats {
    font-size: 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 40px;
}
.repo__stats a {
  color: #beaab7;
}
.skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.skills .skills__title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.skills .skills__list ul li {
    font-size: .9rem;
    margin-bottom: 5px;
}
.company {
    margin-bottom: 25px;
}
.company .company__job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.company .company__name {
    font-weight: 700;
    letter-spacing: 2px;
}
.company .company__time {
    font-size: .9rem;
}
.otherstuff__list {
    margin-bottom: 25px;
}

.otherstuff__list .otherstuff__name {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.footer {
    padding: unset;
    background: unset;
    position: absolute;
    margin: auto;
    right: 30px;
}
.footer .footer__content {
    font-size: 10px;
}
.footer .footer__content {
    color: $light;
}
.footer .footer__content .dmca {
    text-align: right;
}
.footer .footer__content img {
    vertical-align: middle;
}
body.light-mode .footer .footer__content {
    color: $dark;
}
.masonry {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 165vh;
}
/*Transition*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .35s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}
.child-view {
    position: absolute;
    transition: all .35s cubic-bezier(.25,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}
/*Responsive*/
@media screen and (max-width: 1600px) {
    .masonry {
        height: 200vh;
    }
}
@media screen and (max-width: 1280px) {
    .section {
        padding: 100px;
    }
}
@media screen and (max-width: 1024px) {
    .intro__hello,
    .intro__tagline {
        font-size: 2.25rem;
    }
    .section {
        padding: 50px;
    }
    .section__title {
        margin-right: 50px;
    }
    .masonry {
        height: 125vh;
    }
}
@media all and (max-width: 900px) {
    .page {
        padding-right: 30px;
        padding-left: 30px;
    }
    .masonry {
        height: 150vh;
    }
}
@media screen and (max-width: 768px) {
    .intro__hello,
    .intro__tagline {
        font-size: 2rem;
    }
    .section {
        display: block;
    }
    .section__title {
        text-align: left;
        width: auto;
        padding: unset;
    }
    .section__content {
        padding-top: 30px;
        padding-left: 50px;
    }
    .masonry {
        height: unset;
    }
}
@media screen and (max-width: 630px) {
    .intro {
        padding: 120px 70px;
    }
    .page {
        padding: 95px 15px;
    }
    .page-header {
        font-size: 18vw;
    }
    .page-header-small {
        font-size: 9vw;
    }
    .page-subheader {
        font-size: 7vw;
    }
}
@media screen and (max-width: 550px) {
    .intro {
        padding: 120px 50px;
    }
    .intro__hello,
    .intro__tagline {
        font-size: 1.75rem;
    }
    .intro__contact {
        font-size: 1rem;
    }
    .intro__contact .emoji.pointer {
        width: 25px;
        height: 25px;
    }
    .page-content {
        padding-top: 40px;
    }
}
@media screen and (max-width: 480px) {
    .intro {
        padding: 70px 50px;
    }
    .section {
        padding: 50px 35px;
    }
    .section__content {
        padding-left: unset;
        padding-right: unset;
    }
}
@media screen and (max-width: 360px) {
    .intro__hello,
    .intro__tagline {
        font-size: 1.5rem;
    }
    .company .company__job {
        display: unset;
    }
    .footer .footer__content .dmca {
        text-align: center;
    }
}
@media screen and (max-width: 330px) {
    .intro__hello,
    .intro__tagline {
        font-size: 1.4rem;
    }
}